.state {
  fill: ghostwhite;
  stroke: darkgray;
  stroke-width: 1px;

  &.active {
    fill: darkolivegreen;
    opacity: 50%;
  }
}

.windmill {
  stroke: none;
  stroke-width: 1px;
  fill: none;
  fill-rule: evenodd;
}

.pole {
  & polygon {
    fill: #FFFFFF
  }
}

.wieken {
  & path {
    fill: #FFFFFF
  }
}

//@keyframes spin {
//  from { transform: rotate(0deg);}
//  to { transform: rotate(360deg);}
//}

#wieken {
  animation: spin 2s infinite linear;
  transform-origin: 111.13565826416016px 154.83003997802734px;
}